body{
    background: url('img/photo-1511268011861-691ed210aae8.avif');
    background-size: cover;
    position: relative;
    .btn{
        width: 140px;
        height: 40px;
        background-color: rgb(30, 158, 152);
        // background: linear-gradient(90deg,rgb(244, 244, 91) 10%,rgb(180, 33, 58) 35%,rgb(180, 33, 58) 75%,rgb(244, 244, 91) 100%);
        position: absolute;
        bottom: 100px;
        left: 20%;
        z-index: 1;
        border-radius: 15px;
        p{
            color:white;
        }
        &:hover{
            background-color: rgb(255, 255, 34);
        }
    }
    audio{
        position: absolute;
        top: 0;
        // display: none;
    }
    .img{
        position: absolute;
        width: 80%;
        height: 0;
        z-index: 11;
        top: 20px;
        left: 20px;
        margin-bottom: 30px;
        // border-radius: 10%;
        filter: drop-shadow(0 0 0.75rem rgb(191, 255, 29));
        opacity: 0;
    }
    .box{
        height: 97vh;
        // width: 500px;
        .arrow{
            background-color: rgb(37, 87, 12);
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
            width: 3%;
            height: 3%;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        .wheel{
            // width: 40%;
            margin-top: 40px;
            width: 280px;
            height: 280px;
            border-radius: 50%;
            border: 5px solid rgb(37, 87, 12);
            position: relative;
            overflow: hidden;
            div{
                width: 39%;
                height: 50%;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                position: absolute;
                transform-origin: bottom;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 30%;
                p{
                    font-size: 20px;
                    font-weight: bold;
                    transform: rotate(90deg);
                }
                    
                
            }
            .gift1{
                background-color: rgb(37, 87, 12);
                color: white;
                transform: rotate(0deg);
            }
            .gift2{
                background-color: white;
                color: red;
                transform: rotate(40deg);
            }
            .gift3{
                background-color: red;
                color: rgb(37, 87, 12);
                transform: rotate(80deg);
            }
            .gift4{
                background-color: rgb(37, 87, 12);
                color: white;
                transform: rotate(120deg);
            }
            .gift5{
                background-color: white;
                color: red;
                transform: rotate(160deg);
            }
            .gift6{
                background-color: red;
                color: rgb(37, 87, 12);
                transform: rotate(200deg);
            }
            .gift7{
                background-color: rgb(37, 87, 12);
                color: white;
                transform: rotate(240deg);
            }
            .gift8{
                background-color: white;
                color: red;
                transform: rotate(280deg);
            }
            .gift9{
                background-color: red;
                color: rgb(37, 87, 12);
                transform: rotate(320deg);
            }
        }
    }
}